__pycache__/
bb_graphrag_venv/
dset_papers/
images/
ms2/
narrativeqa/
qasper/
qmsum/
quality/
squality/
graphs/
agent_logs/
agent_states/
generated_graphs/


# Test files
test_*.py
verify_graph.py
llm_keys.py
demo_*
validate_*

frozen_prompts/
training_logs/
vector_indexes/
agent_logs/
agent_states/
evaluation_logs/
frozen_prompts/
prompt_response_logs/
step_execution_logs/
test_agent_states/
training_logs/
transition_logs/