__pycache__/
bb_graphrag_venv/
dset_papers/
images/
ms2/
narrativeqa/
qasper/
qmsum/
quality/
squality/
graphs/
agent_logs/
agent_states/
generated_graphs/


# Test files
test_*.py
verify_graph.py
llm_keys.py
demo_*
validate_*